doctype 5
html
  head
    title Whois
    link(rel="stylesheet", href="/style.css")
    block head
  body
    block content
    script(src="/js/jquery.js")
    script(src="/js/jquery-ui.js")
    script(src="/js/queries.js")